<style>
    .breadcrumb-nav{
        padding: 18px;
    }
    label {
        display: inline !important;
        margin-bottom: 5px;
    }
    
    .reporttable{
        overflow-y: scroll;
        height: 580px !important;
    }
#filt{
 margin-bottom: 20px;
}

</style>
<style>

    /*************
     Sai CSS
    *************/

 .reports-page .span2 #search{
     padding: 0px !important;
 }
    .reports-page .filters{
        padding: 4px;
        border: 1px solid rgb(238, 238, 238) !important;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        margin-top: 13px;

    }
    .reports-page .filters select {
        width: 100% !important;
        margin-bottom: 6px !important;

    }
    .reports-page .filters p{
        color: #0362A9;
        font-weight: 600;
    }
    .reports-page .filters p.eamrank{
        font-weight: normal;
    }
    .reports-page  #radiv p.eamrank{
        color: inherit;
        font-size: 12px !important;
    }
    .reports-page .span2 #search{
        width: 100%;
        background-color: #0362A9 !important;
        color: #fff;
        height: 28px;
        text-align: center !important;
    }
    .reports-page .span2 #search:hover{
        width: 100%;
        background-color: #0362A9 !important;
        color: #fff;
        height: 28px;
    }
    .reporttable{
        border: 1px solid rgb(238, 238, 254);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        margin-left: 2px !important;
        margin-top: -15px !important;
    }
    #showno{
        width: 100px !important;
    }
    #expo select{
        width: 100px !important;
        margin-top: 10px !important;
        margin-top: 10px !important;
    }
    .result-tbl .span12{

        margin-top: 8px;
    }
    .recnum{
        margin-top: 8px !important;
        padding-left: 2px !important;
    }
    #export{
        padding-left: 5px;
        padding-right: 5px;
    }
#tableData .watchlist{
cursor:pointer
}
    /*************
     Sai CSS end
    *************/

    /*************
  Blue Theme
 *************/
    /* overall */


    /* header */



    .tablesorter-blue .headerSortDown,
    .tablesorter-blue .tablesorter-headerSortDown,
    .tablesorter-blue .tablesorter-headerDesc {
        background-color: #8cb3d9;
        /* black desc arrow */

        /* white desc arrow */
        /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
        /* image */
        /* background-image: url(images/black-desc.gif); */
    }
    .tablesorter-blue thead .sorter-false {
        background-image: none;
        cursor: default;
        padding: 4px;
    }

    /* tfoot */
    .tablesorter-blue tfoot .tablesorter-headerSortUp,
    .tablesorter-blue tfoot .tablesorter-headerSortDown,
    .tablesorter-blue tfoot .tablesorter-headerAsc,
    .tablesorter-blue tfoot .tablesorter-headerDesc {
        /* remove sort arrows from footer */
        background-image: none;
    }

    /* tbody */
    .tablesorter-blue td {
        color: #3d3d3d;
        background-color: #fff;
        padding: 4px;
        vertical-align: top;
    }

    /* hovered row colors
     you'll need to add additional lines for
     rows with more than 2 child rows
     */

    /* table processing indicator */
    .tablesorter-blue .tablesorter-processing {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        /* background-image: url(images/loading.gif) !important; */

    }

    /* Zebra Widget - row alternating colors */

    /* Column Widget - column sort colors */

    /* caption */
    caption {
        background-color: #fff;
    }

    /* filter widget */
    .tablesorter-blue .tablesorter-filter-row {

    }
    .tablesorter-blue .tablesorter-filter-row td {
        background-color: #eee;
        line-height: normal;
        text-align: center; /* center the input */
        -webkit-transition: line-height 0.1s ease;
        -moz-transition: line-height 0.1s ease;
        -o-transition: line-height 0.1s ease;
        transition: line-height 0.1s ease;
    }
    /* optional disabled input styling */
    .tablesorter-blue .tablesorter-filter-row .disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
        cursor: not-allowed;
    }
    /* hidden filter row */
    .tablesorter-blue .tablesorter-filter-row.hideme td {
        /*** *********************************************** ***/
        /*** change this padding to modify the thickness     ***/
        /*** of the closed filter row (height = padding x 2) ***/
        padding: 2px;
        /*** *********************************************** ***/
        margin: 0;
        line-height: 0;
        cursor: pointer;
    }
    .tablesorter-blue .tablesorter-filter-row.hideme * {
        height: 1px;
        min-height: 0;
        border: 0;
        padding: 0;
        margin: 0;
        /* don't use visibility: hidden because it disables tabbing */
        opacity: 0;
        filter: alpha(opacity=0);
    }
    /* filters */
    .tablesorter-blue input.tablesorter-filter,
    .tablesorter-blue select.tablesorter-filter {
        width: 98%;
        height: auto;
        margin: 0;
        padding: 4px;
        background-color: #fff;
        border: 1px solid #bbb;
        color: #333;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: height 0.1s ease;
        -moz-transition: height 0.1s ease;
        -o-transition: height 0.1s ease;
        transition: height 0.1s ease;
    }
    /* rows hidden by filtering (needed for child rows) */
    .tablesorter .filtered {
        display: none;
    }

    /* ajax error row */
    .tablesorter .tablesorter-errorRow td {
        text-align: center;
        cursor: pointer;

    }

    .checkbox1{
        margin-left: 35px !important;
        margin-top: 2px !important;
    }

    .rdo{
        margin: 5px 0px 5px 30px !important;
    }
    /*Filters width*/
    .filters{
        width: 100% !important;
        border: 0px !important;
    }

    .filters .eamrank{
        background: none;
        text-shadow: none;
        color: #000000;
    }

    .filters select{
width:158px !important;
    }
    .pathteacher select{
        background-color: #fff !important;

    }
    .btn {
   height: 28px;
margin-left: 5px;
color: #FFF !important;
text-shadow: none;
background-color: #0362A9 !important;
background-image: linear-gradient(to bottom, #0378A9, #0341A9) !important;
background-repeat: repeat;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
background-position: 0px center !important;
}
.reports-page{
/*border: 1px solid #808080;*/

}
.reports-page .span2{
padding-top:20px;
}
/**********************MENU CSS *************/
  #demo a.current:link,   #demo a.current:visited {
        background: #048EC7 linear-gradient(to bottom, #049CDB, #0378A9) repeat-x scroll left -1400px;
        color: #FFF;
        font-weight: bold;
    } /* unvisited and visited links*/

   #demo .link{
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 0px;
        border: solid 1px #20538D;
        background: #FFF;
        border-radius: 0px;
        border: 1px solid #20538D;
        background: #FFF none repeat scroll 0% 0%;
        color: #2E8BC6;
        padding: 8px 10px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px 1px;
    }
   #demo .link:hover{
        text-decoration: none;
        color: #2E8BC6;
    }
#reports-tab
{
padding:10px;
}
.reports-page .btn{

margin: 4px 0px 10px 88px !important;
}
    #cbody tr > td{
        font-size: 13px !important;
        color: #333 !important;
    }
    .filters select{
        width: 100% !important;
        margin-bottom: 0px !important;
    }
.result-tbl{
        border: 0px !important;
    }

    table thead tr th,table thead tr td{

        font-size: 13px !important;
        font-style: normal;
    }
    /*------------------- My Styles--------------*/
    .filters{
        margin-left: 8px;
    }
    .reports-page .btn {
        margin: 4px 0px 0px 10% !important;
        width: 98%;
        padding: 0% 36%;
    }
    .tit {
        font-size: 14px;
        font-weight: bold;
        padding: 3px 5px;
        margin-top: 8px !important;
    }
    .reports-page .span2 {
        padding-top: 10px;
    }
    .reporttable{
        display: inline;
    }
    .reporttable {
        overflow-y: scroll;

        display: inline-block;
        width: 100%;
    }
    .ser > .sortdiv {
        display: inline-block;
        margin: 0px;
    }
    .sort{
        float: left;
        padding: 15px 10px;
    }
    #showno {
        background-color: #FFF !important;
        display: inline-block;
        height: 30px !important;
        margin-bottom: 0px !important;
        font-size: 14px;
        line-height: 18px;
        color: #555;
        border-radius: 4px;
        vertical-align: middle;
        padding: 5px !important;
        margin-top: 3px;
    }
   #expo{
       margin-left:4% !important;
      
       margin-right: 0% !important;
   }
   tbody tr td {
       padding: 5px 5px !important;
       line-height: 20px !important;
       text-align: left;
       vertical-align: top;
       font-size: 13px !important;
       font-style: normal;
       border-top: 0px solid #DDD;
   }
    #tableData tbody tr:hover td{
        background-color: #F4E1C2 !important;
    }
	.shall{
width: 18%;
display: inline-block;
padding-top: 10px;
}
.result-tbl .sort{
float: left;
width: 50%;
padding: 10px;

}
.generaltable td {
    font-family: "Open Sans","Trebuchet MS",arial,verdana,sans-serif !important;
    vertical-align: top;
    font-size: 13px !important;
    font-style: normal;
    border-top: 0px solid #DDD;
}
#export:hover{
cursor:pointer;
}
#expo select {
    width: 100px !important;
    margin-top: 0px !important;
}
#tableData tbody tr td:nth-child(7){
text-align:center !important;
}
#tableData thead tr th:nth-child(7){
text-align:center !important;
}

    #expo {
        margin-left: 1%;
     
        margin-right: 5%;
        margin-bottom: 0px !important;
    }
    .result-tbl .sort {
        width: 24%;
        padding-top: 0px !important;
    }
    .shall {
        width: 18%;
        display: inline-block;
        padding-top: 0px;
    }
    #filt tbody tr:hover td{
        background-color: none !important;
    }
    #filt tbody tr td{
        background-color: inherit !important;
        padding-left:20px !important;
    }
    .cell{
        width:25%;

    }
    .reports-page .span3 #search {
        width: 47% !important;
        background-color: #DD9B35 !important;
        color: #FFF;
        height: 28px;
        text-align: center !important;
        background-image: none !important;
        margin: 4px 0px 0px 3% !important;
        display: inline;
    }
    .reports-page .span3 #clear {
        width: 44% !important;
        background-color: #DD9B35 !important;
        color: #FFF;
        height: 28px;
        text-align: center !important;
        background-image: none !important;
        margin: 4px 0px 0px 3% !important;
        display: inline;
    }
    .reports-page .btn {

        padding: 0% 5%;
    }
    .ser{
        padding: 10px 0px 0px !important;

    }
.reports-page .rail {
        width: 14% !important;
        background-color: #DD9B35 !important;
        color: #FFF;
        height: 28px;
        text-align: center !important;
        background-image: none !important;
        margin: 4px 0px 0px 6% !important;
        display:none;
padding: 0% 3% !important;
    }
#action-menu-0-menu > li:nth-child(3){
        display: none !important;
    }
/***************** STYLES BY ANUSHA ************************/
table.quizreviewsummary th.cell {
font-size: 14px!important;
line-height: 18px!important;
font-weight: normal!important;
text-align: left !important;
}
table.quizreviewsummary td.cell {

text-align: left !important;
}
#filt .info{
font-weight: bold !important;
}
table.flexible th, .generaltable th, table.flexible td, .generaltable td {
    padding: 2px !important;
    line-height: 18px !important;
    text-align: center !important;
}
</style>

